.sliding {
    width: 100%;
    height: 600px; 
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 12s; 
    animation-timing-function: linear;
    animation-delay: 10s; 
    position: relative; 
}

@keyframes slide {
    0% {
        background-image: url("../src/assets/images/slide1.jpg");
    }
    20% {
        background-image: url("../src/assets/images/slide2.jpg");
    }
    40% {
        background-image: url("../src/assets/images/slide3.jpg");
    }
    60% {
        background-image: url("../src/assets/images/slide4.jpg");
    }
    100% {
        background-image: url("../src/assets/images/slide1.jpg"); /* Reset to first image */
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sliding {
        height: 400px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .sliding {
        height: 300px; /* Further reduce height for mobile devices */
    }
}
